@font-face {
  font-family: "iconfont"; /* Project id 2635545 */
  src: url('iconfont.woff2?t=1625110121764') format('woff2'),
       url('iconfont.woff?t=1625110121764') format('woff'),
       url('iconfont.ttf?t=1625110121764') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sanheng:before {
  content: "\e675";
}

.icon-sanheng1:before {
  content: "\e61e";
}

.icon-bianzu2:before {
  content: "\e6a5";
}

.icon-a-111-1:before {
  content: "\e60f";
}

.icon-archive-empty:before {
  content: "\e701";
}

.icon-express:before {
  content: "\e70a";
}

.icon-dizhi:before {
  content: "\e607";
}

.icon-dizhi1:before {
  content: "\e617";
}

.icon-riqi:before {
  content: "\e721";
}

.icon-cha:before {
  content: "\e606";
}

.icon-cha1:before {
  content: "\e648";
}

.icon-jiahao-:before {
  content: "\e615";
}

.icon-quanqiu:before {
  content: "\e600";
}

.icon-fangdajing:before {
  content: "\e623";
}

.icon-douyin:before {
  content: "\e605";
}

.icon-fanhui:before {
  content: "\e60b";
}

.icon-jiahao:before {
  content: "\e604";
}

.icon-lianjie:before {
  content: "\e792";
}

.icon-updown-down:before {
  content: "\e601";
}

.icon-jiahao1:before {
  content: "\e64c";
}

.icon-right:before {
  content: "\e602";
}

.icon-jiahao2:before {
  content: "\e66c";
}

.icon-xiala:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e613";
}

.icon-xingzhuang580:before {
  content: "\e65c";
}

